[*.cs]

# CS8604: Possível argumento de referência nula.
dotnet_diagnostic.CS8604.severity = none

# CS8602: Desreferência de uma referência possivelmente nula.
dotnet_diagnostic.CS8602.severity = none

# CA1304: Especificar CultureInfo
dotnet_diagnostic.CA1304.severity = none

# CA1311: Especifique uma cultura ou use uma versão invariável
dotnet_diagnostic.CA1311.severity = suggestion
